body {
    text-align: center;
}

.container {
    margin: 5em 0 3em;
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

.calc {
    font-size: 900px;
}